{% extends "list.jinja2" %}


{% block button_content %}
    <form>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label class="sr-only" for="channel_id">{{ _('ChannelId') }}</label>
                <select class="form-control" id="channel_id" name="channel_id">
                    <option value="">{{ _('all') }}</option>
                    {% if schedulers %}
                    {% for c in schedulers %}
                    <option value="{{ str(c.id) }}" {{ 'selected' if keywords and keywords.get('channel_id') == c.id }}>{{ c.id }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only" for="crash_code">{{ _('CrashCode') }}</label>
                <select class="form-control" id="crash_code" name="crash_code">
                    <option value="">{{ _('all') }}</option>
                    {% if crashes %}
                    {% for c in crashes %}
                    <option value="{{ str(c.code) }}" {{ 'selected' if keywords and keywords.get('crash_code') == c.code }}>{{ c.name_cn }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only mr-sm-2" for="start">{{ _('Start') }}</label>
                <input type="date" class="form-control" id="start" name="start" placeholder="{{ _('Start') }}" value="{{ keywords.get('start') if keywords }}">
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only mr-sm-2" for="end">{{ _('End') }}</label>
                <input type="date" class="form-control" id="end" name="end" placeholder="{{ _('End') }}" value="{{ keywords.get('end') if keywords }}">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block table_content %}
    {% include 'query/crash_table.jinja2' %}
{% endblock %}
