{% extends "table.jinja2" %}


{% block table_head %}
    <tr>
        <th>{{ _('Id') }}</th>
        <th>{{ _('ChannelId') }}</th>
        <th>{{ _('Scheduler') }}</th>
        <th>{{ _('Category') }}</th>
        <th>{{ _('Event') }}</th>
        <th>{{ _('Level') }}</th>
        <th>{{ _('Timestamp') }}</th>
        <th>{{ _('Image') }}</th>
        <th>{{ _('Video') }}</th>
        <th>{{ _('Delete') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in res.items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.channel_id }}</td>
        <td>{{ item.scheduler.name }}</td>
        <td>{{ category_dict.get(item.category_code) }}</td>
        <td>{{ item.event.name_cn }}</td>
        <td>{{ item.level }}</td>
        <td>{{ item.timestamp }}</td>
        {% if item.image_path and item.image_path != 'null' %}
        <td><a href="/image/{{ item.image_path }}" target="_blank">{{ _('View Image') }}</a></td>
        {% else %}
        <td>{{ _('No Image') }}</td>
        {% endif %}
        {% if item.video_path and item.video_path != 'null' %}
        <td><a href="/video/{{ item.video_path }}" target="_blank">{{ _('View Video') }}</a></td>
        {% else %}
        <td>{{ _('No Video') }}</td>
        {% endif %}
        <td>
            <form action="{{ url_for('query.delete_event', log_id=item.id) }}">
                {% if keywords %}
                {% for key in keywords %}
                <input type="hidden" class="page-link" name="{{ key }}" value="{{ keywords.get(key) }}" >
                {% endfor %}
                {% endif %}
                <input type="hidden" class="page-link" name="page" value="{{ res.page if res else 1 }}" >
                <button class="btn btn-danger btn-sm">{{ _('delete') }}</button>
            </form>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
