{% extends "table.jinja2" %}


{% block table_head %}
    <tr>
        <th>{{ _('Id') }}</th>
        <th>{{ _('ChannelId') }}</th>
        <th>{{ _('Scheduler') }}</th>
        <th>{{ _('Category') }}</th>
        <th>{{ _('State') }}</th>
        <th>{{ _('Start DateTime') }}</th>
        <th>{{ _('End DateTime') }}</th>
        <th>{{ _('Seconds') }}</th>
        <th>{{ _('Delete') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in res.items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.channel_id }}</td>
        <td>{{ item.scheduler.name }}</td>
        <td>{{ category_dict.get(item.category_code) }}</td>
        <td>{{ item.state.name_cn }}</td>
        <td>{{ item.start }}</td>
        <td>{{ item.end }}</td>
        <td>{{ item.seconds }}</td>
        <td>
            <form action="{{ url_for('query.delete_state', log_id=item.id) }}">
                {% if keywords %}
                {% for key in keywords %}
                <input type="hidden" class="page-link" name="{{ key }}" value="{{ keywords.get(key) }}" >
                {% endfor %}
                {% endif %}
                <input type="hidden" class="page-link" name="page" value="{{ res.page if res else 1 }}" >
                <button class="btn btn-danger btn-sm">{{ _('delete') }}</button>
            </form>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
