{% extends "list.jinja2" %}


{% block button_content %}
    <form>
        <div class="form-row">
            <div class="form-group col-auto">
                <a href="{{ url_for('config.add_camera') }}" class="btn btn-success">{{ _('Add') }}</a>
            </div>
            <div class="form-group col-auto">
                <a href="{{ url_for('config.scan_camera') }}" class="btn btn-primary">{{ _('Scan') }}</a>
            </div>
            <div class="form-group col-md-1">
                <label class="sr-only" for="camera_id">{{ _('CameraId') }}</label>
                <select class="form-control" id="camera_id" name="camera_id">
                    <option value="">{{ _('all') }}</option>
                    {% if cameras %}
                    {% for c in cameras %}
                    <option value="{{ str(c.id) }}" {{ 'selected' if keywords and keywords.get('camera_id') == c.id }}>{{ c.id }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="sr-only" for="url">{{ _('Url') }}</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="{{ _('Url') }}" value="{{ keywords.get('url') if keywords else '' }}">
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block table_content %}
    {% include 'config/camera_table.jinja2' %}
{% endblock %}
