{% extends "edit.jinja2" %}


{% block button_content %}
    {% if scan_result and scan_result.get('cameras') %}
    <span class="mx-2 my-2">
    <a href="{{ url_for('config.scan_camera_history') }}" class="btn btn-info">{{ _('View') }}</a>
    </span>
    {% endif %}
{% endblock %}
