{% extends "table.jinja2" %}


{% block table_caption %}
    {{ _('Last scan time: ') }} {{ moment(scan_timestamp).format('LLL') }}
{% endblock %}


{% block table_head %}
    <tr>
        <th>{{ _('CameraUrl') }}</th>
        <th>{{ _('Status') }}</th>
        <th>{{ _('Add') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in scan_result %}
    <tr>
        <td>
            {{ item.get('rtsp_url') }}
        </td>
        <td>
            {% if item.get('in_database') %}
                1
            {% endif %}
        </td>
        <td>
            <a href="{{ url_for('config.add_camera', camera_url=item.get('rtsp_url')) }}" class="btn btn-success btn-sm" target="_blank">{{ _('add') }}</a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
