{% extends "table.jinja2" %}


{% block table_head %}
    <tr>
        <th>{{ _('Id') }}</th>
        <th>{{ _('Url') }}</th>
        <th colspan="2">{{ _('Scheduler') }}</th>
        <th>{{ _('Delete') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in res.items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.url }}</td>
        <td><a href="{{ url_for('config.list_schedulers', url=item.url) }}" class="btn btn-info btn-sm">{{ _('view') }}</a></td>
        <td><a href="{{ url_for('config.add_scheduler', camera_id=item.id) }}" class="btn btn-primary btn-sm">{{ _('config') }}</a></td>
        <td><a href="{{ url_for('config.delete_camera', camera_id=item.id) }}" class="btn btn-danger btn-sm">{{ _('delete') }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
