{% extends "list.jinja2" %}


{% block button_content %}
    <span class="mx-2 my-2">
        <a href="{{ url_for('config.scan_camera') }}" class="btn btn-primary">{{ _('Scan Again') }}</a>
    </span>
    <span class="mx-2 my-2">
        <a href="{{ url_for('config.add_camera_history') }}" class="btn btn-success">{{ _('Add All') }}</a>
    </span>
{% endblock %}


{% block table_content %}
    {% include 'config/camera_scan_table.jinja2' %}
{% endblock %}
