{% extends "table.jinja2" %}


{% block table_head %}
    <tr>
        <th>{{ _('Id') }}</th>
        <th>{{ _('ChannelId') }}</th>
        <th>{{ _('Scheduler') }}</th>
        <th>{{ _('Mask') }}</th>
        <th>{{ _('x_min') }}</th>
        <th>{{ _('y_min') }}</th>
        <th>{{ _('x_max') }}</th>
        <th>{{ _('y_max') }}</th>
        <th>{{ _('Update') }}</th>
        <th>{{ _('Delete') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in res.items %}
    <tr>
        <td>{{ item.id }}</td>
        <td><a href="{{ url_for('config.list_schedulers', channel_id=item.channel_id) }}" class="btn btn-link">{{ item.channel_id }}</a></td>
        <td><a href="{{ url_for('config.list_schedulers', channel_id=item.channel_id) }}" class="btn btn-link">{{ item.scheduler.name }}</a></td>
        <td>{{ item.name }}</td>
        <td>{{ item.x_min }}</td>
        <td>{{ item.y_min }}</td>
        <td>{{ item.x_max }}</td>
        <td>{{ item.y_max }}</td>
        <td><a href="{{ url_for('config.update_mask', mask_id=item.id) }}" class="btn btn-primary btn-sm">{{ _('update') }}</a></td>
        <td><a href="{{ url_for('config.delete_mask', mask_id=item.id) }}" class="btn btn-danger btn-sm">{{ _('delete') }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
