{% extends "table.jinja2" %}


{% block table_head %}
    <tr>
        <th>{{ _('ChannelId') }}</th>
        <th>{{ _('Scheduler') }}</th>
        <th>{{ _('Category') }}</th>
        <th>{{ _('Startup') }}</th>
        <th>{{ _('Batch') }}</th>
        <th>{{ _('Height') }}</th>
        <th>{{ _('Width') }}</th>
        <th>{{ _('Buffer') }}</th>
        <th colspan="2">{{ _('Service') }}</th>
        <th colspan="2">{{ _('Mask') }}</th>
        <th>{{ _('Image') }}</th>
        <th>{{ _('Update') }}</th>
        <th>{{ _('Delete') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in res.items %}
    <tr>
        <td>{{ item.id }}</td>
        <td><a href="{{ url_for('config.list_cameras', camera_id=item.camera.id) }}" class="btn btn-link">{{ item.name }}</a></td>
        <td>{{ item.category_name }}</td>
        <td>{{ item.start }}</td>
        <td>{{ item.batch }}</td>
        <td>{{ item.height }}</td>
        <td>{{ item.width }}</td>
        <td>{{ item.buffer }}</td>
        <td><a href="{{ url_for('config.list_services', channel_id=item.id) }}" class="btn btn-info btn-sm">{{ _('view') }}</a></td>
        <td><a href="{{ url_for('config.add_service', channel_id=item.id) }}" class="btn btn-primary btn-sm">{{ _('config') }}</a></td>
        <td><a href="{{ url_for('config.list_masks', channel_id=item.id) }}" class="btn btn-info btn-sm">{{ _('view') }}</a></td>
        <td><a href="{{ url_for('config.add_mask', channel_id=item.id) }}" class="btn btn-primary btn-sm">{{ _('config') }}</a></td>
        <td><a href="{{ url_for('static', filename=item.image_path) }}" target="_blank" class="btn btn-info btn-sm">{{ _('view') }}</a></td>
        <td><a href="{{ url_for('config.update_scheduler', channel_id=item.id) }}" class="btn btn-primary btn-sm">{{ _('update') }}</a></td>
        <td><a href="{{ url_for('config.delete_scheduler', channel_id=item.id) }}" class="btn btn-danger btn-sm">{{ _('delete') }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
