{% extends "list.jinja2" %}


{% block button_content %}
    <form>
        <div class="form-row">
            <div class="form-group col-auto">
                <a href="{{ url_for('config.add_scheduler') }}" class="btn btn-success">{{ _('Add') }}</a>
            </div>
            <div class="form-group col-auto">
                <a href="{{ url_for('config.list_cameras') }}" class="btn btn-primary">{{ _('Config From Camera') }}</a>
            </div>
            <div class="form-group col-auto">
                <a href="{{ url_for('config.import_schedulers') }}" class="btn btn-warning">{{ _('Import') }}</a>
            </div>
            <div class="form-group col-auto">
                <a href="{{ url_for('config.export_schedulers') }}" class="btn btn-info">{{ _('Export') }}</a>
            </div>
            <div class="form-group col-md-1">
                <label class="sr-only" for="channel_id">{{ _('ChannelId') }}</label>
                <select class="form-control" id="channel_id" name="channel_id">
                    <option value="">{{ _('all') }}</option>
                    {% if schedulers %}
                    {% for c in schedulers %}
                    <option value="{{ str(c.id) }}" {{ 'selected' if keywords and keywords.get('channel_id') == c.id }}>{{ c.id }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only" for="category_name">{{ _('CategoryName') }}</label>
                <select class="form-control" id="category_name" name="category_name">
                    <option value="">{{ _('all') }}</option>
                    {% if categories %}
                    {% for c in categories %}
                    <option value="{{ str(c.name) }}" {{ 'selected' if keywords and keywords.get('category_name') == c.name }}>{{ c.name_cn }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only" for="name">{{ _('Name') }}</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="{{ _('Name') }}" value="{{ keywords.get('name') if keywords else '' }}">
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only" for="url">{{ _('Url') }}</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="{{ _('Url') }}" value="{{ keywords.get('url') if keywords else '' }}">
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block table_content %}
    {% include 'config/scheduler_table.jinja2' %}
{% endblock %}
