{% extends "list.jinja2" %}


{% block button_content %}
    <form>
        <div class="form-row">
            <div class="form-group col-auto">
                <a href="{{ url_for('config.add_service') }}" class="btn btn-success">{{ _('Add') }}</a>
            </div>
            <div class="form-group col-auto">
                <a href="{{ url_for('config.list_schedulers') }}" class="btn btn-primary">{{ _('Config From Scheduler') }}</a>
            </div>
            <div class="form-group col-auto">
                <a href="{{ url_for('config.import_services') }}" class="btn btn-warning">{{ _('Import') }}</a>
            </div>
            <div class="form-group col-md-1">
                <label class="sr-only" for="channel_id">{{ _('ChannelId') }}</label>
                <select class="form-control" id="channel_id" name="channel_id">
                    <option value="">{{ _('all') }}</option>
                    {% if schedulers %}
                    {% for c in schedulers %}
                    <option value="{{ str(c.id) }}" {{ 'selected' if keywords and keywords.get('channel_id') == c.id }}>{{ c.id }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only" for="name">{{ _('Name') }}</label>
                <select class="form-control" id="name" name="name">
                    <option value="">{{ _('all') }}</option>
                    {% if names %}
                    {% for c in names %}
                    <option value="{{ str(c) }}" {{ 'selected' if keywords and keywords.get('name') == c }}>{{ c }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group col-auto">
                <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
            </div>
        </div>
    </form>
{% endblock %}


{% block table_content %}
    {% include 'config/service_table.jinja2' %}
{% endblock %}
