{% extends "table.jinja2" %}


{% block table_head %}
    <tr>
        <th>{{ _('Id') }}</th>
        <th>{{ _('ChannelId') }}</th>
        <th>{{ _('Scheduler') }}</th>
        <th>{{ _('Service') }}</th>
        <th>{{ _('IP') }}</th>
        <th>{{ _('Port') }}</th>
        <th>{{ _('Update') }}</th>
        <th>{{ _('Delete') }}</th>
    </tr>
{% endblock %}


{% block table_body %}
    {% for item in res.items %}
    <tr>
        <td>{{ item.id }}</td>
        <td><a href="{{ url_for('config.list_schedulers', channel_id=item.channel_id) }}" class="btn btn-link">{{ item.channel_id }}</a></td>
        <td><a href="{{ url_for('config.list_schedulers', channel_id=item.channel_id) }}" class="btn btn-link">{{ item.scheduler.name }}</a></td>
        <td>{{ item.name }}</td>
        <td>{{ item.ip }}</td>
        <td>{{ item.port }}</td>
        <td><a href="{{ url_for('config.update_service', service_id=item.id) }}" class="btn btn-primary btn-sm">{{ _('update') }}</a></td>
        <td><a href="{{ url_for('config.delete_service', service_id=item.id) }}" class="btn btn-danger btn-sm">{{ _('delete') }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
