{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}
    {{ _('%(title)s - %(app_name)s', title=title, app_name=config.get('APP_NAME')) }}
    {% else %}
    {{ _('Welcome to %(app_name)s', app_name=config.get('APP_NAME')) }}
    {% endif %}
{% endblock %}


{%- block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
{%- endblock styles %}


{%- block head %}
    {{ super() }}
    {# JQuery放在head加载 #}
    <script src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
{%- endblock head %}


{% block scripts %}
    <script src="{{ url_for('static', filename='popper.js-1.14.3/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='moment.js-2.24.0/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script>
        moment.locale('{{ g.locale }}');
        function flask_moment_render(elem) {
            $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
            $(elem).removeClass('flask-moment').show();
        }
        function flask_moment_render_all() {
            $('.flask-moment').each(function() {
                flask_moment_render(this);
                if ($(this).data('refresh')) {
                    (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
                }
            })
        }
        $(document).ready(function() {
            flask_moment_render_all();
        });
    </script>

    {# 这里写有用户登录之后才能调用的全局js代码 #}
    {% if g.current_user and g.current_user.is_authenticated %}
    <script>
    </script>
    {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='logo/logo.png') }}" width="32" height="32" class="d-inline-block align-top" alt="Logo">
                {{ _('%(app_name)s', app_name=config.get('APP_NAME')) }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
                    </li>
                    {% if g.current_user and g.current_user.is_authenticated and g.current_user.check_read_permission('config') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Config') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="{{ url_for('config.list_cameras') }}">{{ _('Config Camera') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('config.list_schedulers') }}">{{ _('Config Scheduler') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('config.list_services') }}">{{ _('Config Service') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('config.list_masks') }}">{{ _('Config Mask') }}</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if g.current_user and g.current_user.is_authenticated and g.current_user.check_read_permission('query') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Query') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="{{ url_for('query.list_event_logs') }}">{{ _('Query EventLog') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('query.list_state_logs') }}">{{ _('Query StateLog') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('query.list_crash_logs') }}">{{ _('Query CrashLog') }}</a>
                        </div>
                    </li>
                    {% endif %}
                    {% if g.current_user and g.current_user.is_authenticated and g.current_user.check_read_permission('record') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Record') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                            <a class="dropdown-item" href="{{ url_for('record.init_event_logs') }}">{{ _('Init EventLog') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('record.init_state_logs') }}">{{ _('Init StateLog') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('record.init_crash_logs') }}">{{ _('Init CrashLog') }}</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {% if not g.current_user or g.current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                    </li>
                    {% else %}
                    {% if g.current_user and g.current_user.is_authenticated and g.current_user.check_write_permission('main') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.list_users') }}">{{ _('User Permission') }}</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ g.current_user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ url_for('main.get_user', username=g.current_user.username) }}">{{ _('Profile') }}</a>
                            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="my-3">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {# 主体部分 #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}
