{% extends "base.jinja2" %}


{% block app_content %}
    <div class="my-3">
        {% block button_content %}{% endblock %}
    </div>

    <div class="my-3">
        {% block table_content %}
            {% include 'table.jinja2' %}
        {% endblock %}
    </div>

    {# 底部页码 #}
    {% if res and res.total %}
    <div class="my-3">
        <form>
            {% if keywords %}
            {% for key in keywords %}
            <input type="hidden" class="page-link" name="{{ key }}" value="{{ keywords.get(key) }}" >
            {% endfor %}
            {% endif %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item {% if res.page == 1 %} disabled {% endif %}">
                        <input type="submit" class="page-link" name="page" value="{{ 1 }}">
                    </li>
                    {% for i in range(max(res.page-3, 1), res.page) %}
                    <li class="page-item">
                        <input type="submit" class="page-link" name="page" value="{{ i or '#' }}" >
                    </li>
                    {% endfor %}
                    <li class="page-item active">
                        <input type="submit" class="page-link" name="page" value="{{ res.page }}">
                    </li>
                    {% for i in range(res.page+1, min(res.page+4, res.pages+1)) %}
                    <li class="page-item">
                        <input type="submit" class="page-link" name="page" value="{{ i or '#' }}" >
                    </li>
                    {% endfor %}
                    <li class="page-item {% if res.page == res.pages %} disabled {% endif %}">
                        <input type="submit" class="page-link" name="page" value="{{ res.pages }}">
                    </li>
                </ul>
            </nav>
        </form>
    </div>
    {% endif %}
{% endblock %}
